{% extends 'base.html' %}

<!-- The following block "block title" is optional if you want to create a unique title for each html page: -->
{% block title %}Django Main Page{% endblock %}

{% block content %}

<div>
<ul>
{% for flower in flowers %}
<!-- make as link-->
<li><h3><a href="{% url 'flower_inf' flower_inf.id %}">{{ flower_inf.name | capfirst }} {{ flower_inf.type | capfirst }}  ID: {{ flower_inf.id }}</a></h3></li>

<hr>


{% endfor %}

</ul>
</div>


{% endblock %}